.card-container {
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 5%;
    width: 40%;
    height: 40%;
    font-family: "Montserrat";
    padding: 0;
    
}

.card-body {
    display:list-item;
  margin-top: 0;
    height: 1%;
}
.card-text {
    margin-bottom: 0;
}

.btn-cards {
    width: 60%;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
}

.img-cards{
    width: 25%;
    height: 35%;
}


@media (orientation: portrait){
.btn-cards{
    width: 80%;
    margin-top: 10px;
}
.card-header{
    font-size: 21px;
}
.img-cards{
    width: 60%;
    height: 28%;
    margin-top: 60px;
}
}
