.card-container {
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 5%;
    width: 40%;
    height: 40%;
    font-family: "Montserrat";
    
}

.btn-cards {
    width: 50%;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
}

.img-cards{
    width: 30%;
}


@media (orientation: portrait){
.btn-cards{
    width: 70%;
}
.card-header{
    font-size: 21px;
}
}
