.container-hdr {
  background-color: rgba(238, 238, 238, 0.15);
  display: flex;
}

.logo-hdr {
  width: 25%;
}
.icons-container {
  display: flex;
  align-items: center;
}
.add-sign,
.bell,
.little-house {
  width: 20%;
  margin-left: 60%;
}
.add {
  width: 23%;
}
.notification{
  height: 32px;
  width: 38px;
  font-size: 18px;
}


