.container-home {
  background-color: #323030;
}

.logo-home {
  width: 60%;
  padding-top: 15%;
}

.home-container-buttons {
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.home-buttons {
  
  width: 25%;
  font-size: 180%;
  font-weight: bold;
  border-radius: 20px;
  font-family: "Monserrat", sans-serif;
}
