.card-container {
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 5%;
    width: 40%;
    height: 40%;
    font-family: "Montserrat";
    
}

.btn-cards {
   
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
}

.img-cards{
    width: 30%;
}



