.header-cooker {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  border-color:  2px red solid;
}

.hder-cooker a {
  display: none;
}
.container-cooker {
  background-color: #323030;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border-color: 2px red solid;
}


