/* .container-pedido{
  border: 5px solid red; 
  background-color: rgba(238, 238, 238, 0.15);
  height: 700px;
  margin-top: 40px;
  border-radius: 20px;
  margin-left: 60%;
  width:40%;
  font-size: 20px;
} */