.container-home{
    height: 100vh;
    background-color: #323030;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center; 
}  

.logo-home{
    width: 58%;
    height: 36.6%;
    margin-top: 20%;
}

.home-container-buttons{
    /* display: flex; */
    /*flex-wrap: wrap;*/
    margin: auto;
    justify-content: space-evenly; 
    align-items: center;
}  

.home-buttons{
    font-family: "Roboto", sans-serif;
    color:white;
    text-decoration: none;
    width: 30%;
    height: 5.6%;
    margin-top: 749px;
    background: rgba(23, 23, 23, 0.87);
    border: 8px solid #FFE145;
    border-radius: 26px;
}