.container-home{
 background-color: #323030;

}  

.logo-home{
    width: 60%;
   
}

.home-container-buttons{
     display: flex; 
    justify-content: space-evenly; 
    
}  

.home-buttons{
    width: 25%;
    font-size: 180%;
    border-radius: 20px;
    font-family: "Monserrat", sans-serif;

}